.flix-header{
    height: 10vh;
    width: 100%;
    place-items: center ;
}
.flix-header-title{
    font-size: xx-large;
    font-weight: 900;
    color: lime;
    
}
.latest-movies{
    background-color: rgba(190, 102, 102, 0.404);
    height: 30vh;
    width: 100%;
    display: flex;
    gap: 10px;
    place-content: center;
    place-items: center;
    overflow-x: scroll;
    box-sizing: border-box;
}

/* movies card */
.latest-movies-card{
    width: 200px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
    place-content: center;

}
.latest-movies-card-images{
    width: 200px;
    height: 100%;
    background-color: green;
}
.picture{
    width: 220px;
    height: 220px;
    background: #000;
    color:white;
}